.app {
  background-image: url('../assets/bg.jpeg');
  height: 100%;
}

.app .wrapper {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.wrapper > .logo {
  height: 2rem;
  width: 2rem;
}

.wrapper > .title {
  font-size: 1.5rem;
}
